/* Destination display body */

body {
    font-size: 12;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

#hudbox {
    position: absolute;
    z-index: 9;
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 3px;
    width: 500px;
    height: 250px;
    bottom: 3px;
    right: 3px;
}

.screen {
    position: absolute;
    background-color: rgb(140, 169, 250);
    width: 435px;
    height: 200px;
    margin: 10px;
}

.screen>.content {
    margin: 5px;
}

.systemtitle {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    margin-bottom: 8px;
    color: #ff0000;
    font-weight: bold;
    font-size: 24;
}

.powerbutton {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #ff0000;
    font-size: 39px;
}


/* Top row */

.delay {
    float: right;
    display: inline;
}


/* Bottom row */

.bottomrow {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    width: 425px;
}

.bottomrow>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottomrow>.buttons>.btn {
    flex: auto;
    text-align: center;
    border: #252525 solid 1px;
}


/* Stop list screen */

.stopscreen {
    overflow-x: hidden;
    overflow-y: auto;
	height: 144px;
}

.stopscreen>ul {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}

.stopscreen>ul>li.current {
    font-weight: bold;
}

.stopscreen::-webkit-scrollbar {
    width: 12px;
}

.stopscreen::-webkit-scrollbar-track {
    background: orange;
    /* color of the tracking area */
}

.stopscreen::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}


/* Line select screen */

.lineselect>h4 {
    margin: 0;
    margin-top: 20px;
}

.lineselectbox {
    padding: 0;
    height: 109px;
    overflow-x: hidden;
    overflow-y: auto;
}

.lineselectbox>ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
    list-style: none;
}

.lineselectbox>ul>li {
    white-space: nowrap;
    border: #252525 solid 1px;
    width: 98%;
    overflow: hidden;
}

.lineselectbox>ul>li.neareststarttime {
    font-weight: bold;
}

.lineselectbox::-webkit-scrollbar {
    width: 12px;
}

.lineselectbox::-webkit-scrollbar-track {
    background: orange;
    /* color of the tracking area */
}

.lineselectbox::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}


/* Global elements */

.btn:hover {
    cursor: pointer;
}