@font-face {
    font-family: 'Josefin Sans';
    font-display: swap;
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

body {
    font-size: 12;
    font-family: Josefin Sans, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.leaflet-tooltip {
    font-family: Josefin Sans, sans-serif;
}

.mapIconCircle {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    color: white;
    /* Add black circle around the icon */
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.mapIconBus {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
}

#hudbox {
    position: absolute;
    z-index: 9;
    background-color: white;
    border: 1px solid #252525;
    border-radius: 3px;
    top: calc(50% - 300px);
    left: calc(50% - 600px);
    width: 1200px;
    height: 600px;
    display: flex;
}

#closeBtn {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 25px;
}

#homeBtn {
    position: absolute;
    bottom: 2px;
    left: 50.1%;
    width: 25px;
    height: 25px;
    font-size: 25px;
}

#currentTime {
    position: absolute;
    bottom: 2px;
    right: 283px;
}

#map {
    height: 100%;
    width: 50%;
}

#content {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#contentTitle {
    display: table;
    width: 100%;
    height: 61px;
    background-color: #393939;
    color: white;
    padding: 0;
    text-align: center;
}

#contentTitle>h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#contentBody {
    height: 84%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    margin-left: 30px;
}

#contentBody::-webkit-scrollbar {
    width: 12px;
}

#contentBody::-webkit-scrollbar-track {
    background: #0000001c;
    /* color of the tracking area */
}

#contentBody::-webkit-scrollbar-thumb {
    background-color: #0000007a;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.success,
.warning,
.error {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
    /* max-width: 460px; */
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.warning {
    color: black;
    background-color: rgb(245, 204, 129);
}


/* LINE LIST VIEW */

#linelist>ul {
    list-style-position: outside;
    list-style-type: disclosure-closed;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#linelist>ul>li>.activeBusCount {
    display: inline-block;
}

#linelist>ul>li>.line {
    display: inline-block;
    font-weight: bold;
}


/* STOP LIST VIEW */

#stoplist>ul {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#stoplist>ul>li.active>.busOnRoute {
    content: '';
    display: inline-block;
    font-size: 15px;
    height: 10px;
    width: 10px;
    margin-left: -15px;
    padding-right: 5px;
}

#stoplist>ul>li>div {
    display: inline;
}

.stopName {
    font-weight: bold;
}


/* STOP VIEW */

#stopview>ul {
    list-style-position: outside;
    list-style-type: disclosure-closed;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#stopview>ul>li>.activeBusCount {
    display: inline-block;
}

#stopview>ul>li>.line {
    display: inline-block;
    font-weight: bold;
}

#stopview>ul>li>.stopTime {
    display: inline-block;
}