@font-face {
    font-family: 'Josefin Sans';
    font-display: swap;
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

body {
    font-size: 12;
    font-family: Josefin Sans, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

#hudbox {
    position: absolute;
    z-index: 9;
    background-color: white;
    border: 1px solid #252525;
    border-radius: 3px;
    top: calc(50% - 300px);
    right: 10px;
    width: 400px;
    height: 600px;
}

#closeBtn {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 25px;
}

#homeBtn {
    position: absolute;
    bottom: 2px;
    left: 50.1%;
    width: 25px;
    height: 25px;
    font-size: 25px;
}

#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#contentTitle {
    display: table;
    width: 100%;
    height: 61px;
    background-color: #393939;
    color: white;
    padding: 0;
    text-align: center;
}

#contentTitle>h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#contentBody {
    height: 79%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

#contentBody::-webkit-scrollbar {
    width: 12px;
}

#contentBody::-webkit-scrollbar-track {
    background: #0000001c;
    /* color of the tracking area */
}

#contentBody::-webkit-scrollbar-thumb {
    background-color: #0000007a;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.success,
.warning,
.error {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
    /* max-width: 460px; */
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.warning {
    color: black;
    background-color: rgb(245, 204, 129);
}

.btn {
    width: 150px;
    padding: 15px;
    background-color: rgb(255, 192, 0);
    color: white;
    text-align: center;
    margin-top: 25px;
}


/* LINE LIST VIEW */

#linelist>ul {
    list-style-position: outside;
    list-style-type: disclosure-closed;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#linelist>ul>li>.lineTitle {
    display: inline-block;
    font-weight: bold;
}

#linelist>ul>li>ul {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

.published {
    color: #008f0c;
    display: inline-block;
    font-weight: bold;
}


/* ROUTE VIEW */

#routeEdit>ul {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#routeEdit>ul>li>.stopName {
    font-weight: bold;
    display: inline-block;
}

#routeEdit>ul>li>input.stopOffset {
    width: 50px;
}

/* Hide Arrows From Input Number as they don't work in RAGE anyway */
#routeEdit>ul>li>input.stopOffset::-webkit-outer-spin-button,
#routeEdit>ul>li>input.stopOffset::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* CONFIRM WINDOW */

#confirmWindow>.confirmBtns {
    display: flex;
    justify-content: space-around;
}

#confirmWindow>.confirmBtns>.btn {
    width: 50px;
}